body{
  background-color : #ccffff;
}

h2 {
    font-size: 45px;
    border-bottom: solid 3px #ffc778;
    position: relative;
    top: -20px;
}

h2:after{
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px lightgreen;
    bottom: -3px;
    width: 50%;
}

a:hover{
    color: RED;
}


table, td, th{
    border-collapse: collapse;
    border:1px solid #030303;
    text-align: center;
    background: #fff5e5;
}

table{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

table th{
    padding: 10px;
}

table td{
    padding: 3px 10px;
}

.simple_square_btn{
    position: absolute;
    right: 10px;
    top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #8ec6ff;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}

.simple_square_btn:hover{
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
}
.my_btn{
    position: absolute;
    right: 140px;
    top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ffff89;
    color: #c6ff8e;
    border-bottom: solid 4px #c6ff8e;
    border-radius: 3px;
}

.my_btn:hover{
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
}
.new_btn{
    position: absolute;
    right: 270px;
    top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff9e9e;
    color: #c6ff8e;
    border-bottom: solid 4px #ff7f7f;
    border-radius: 3px;
}

.new_btn:hover{
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
}
.top_btn{
    position: absolute;
    right: 270px;
    top: 5px;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7fcfe;
    color: #7ebea5;
    border-bottom: solid 4px #7ebea5;
    border-radius: 3px;
}

.top_btn:hover{
    opacity:0.8;
    cursor: pointer;
    text-decoration: none;
}
.comment{
  position: relative;
  display: inline-block;
  margin: 1px 0 3px 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #FFF;
  border: solid 3px #f8b862;
  box-sizing: border-box;
  border-radius: 10px;
}
.comment:before{
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}
.comment:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #f8b862;
  z-index: 1;
}
.c_name{
    background: linear-gradient(transparent 70%, #ff9900 70%);
    display:inline-block;
    margin-left: 25px;
    margin-right: auto;
}

 
.stitch {
   color: #fff;
   font-size: 22px;
   background: #3b7960;
   border: 4px dashed #F7F9CC;
   border-radius: 10px;
   box-shadow: 0 0 0 7px #3b7960;
   text-align: center;
   margin: 5px 200px;
}
.pic{
    text-align: center;
    border-bottom: 3px dashed #8ec6ff;
}
.inline-block{
    display:inline-block;
    background-color:#ffff93;
    padding: 5px;
    font-size: 18px;
    border: 4px dashed #89ff89;
    border-radius: 10px;
    box-shadow: 0 0 0 7px #ffff93;
    text-align: center;
    margin: 10px;
    width: 400px;
    height: 500px;
    flex-wrap: wrap
}

// Place all the styles related to the top controller here.
// Place all the styles related to the Top controller here.
// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
