<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/users.scss">
</head>
<h2>ユーザ登録</h2>
<% if @user.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user, url: {action: :create} do |u| %>
<p>
  <%= u.label :name, 'ユーザ名' %>
  <%= u.text_field :name %>
</p>
<p>
  <%= u.label :password_i, 'パスワード' %>
  <%= u.password_field :password_i %>
</p>
<p>
  <%= u.label :password_i_confirmation, 'パスワード（確認）' %>
  <%= u.password_field :password_i_confirmation %>
</p>
<p>
  <%= u.submit '登録' %>
</p>
<% end %>

<%= link_to '戻る', root_path %>
