<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/users.scss">
</head>
<h2><%= @user.name %>'s Page</h2>
<p class="simple_square_btn"><%= link_to 'ログアウト', top_logout_path %></p>
<p class="my_btn"><%= link_to 'マイページ', user_path(current_user) %></p>
<p class="top_btn"><%= link_to 'TOP', root_path %></p>
<h3 class="pic">投稿した画像</h3>
<table>
  
<tbody>
<% @user.pictures.each do |post| %>
<tr>
 <td><%= post.title %></td>
 <td><%= image_tag get_pic_picture_path(post), :width => '270', :height => '320' %></td>
 <td><%= post.info %></td>
 <td><%= link_to 'Show', picture_path(post) %></td>
</tr>
<% end %> 
</tbody>
</table>

<h3 class="pic">描いたイラスト</h3>
<% @user.images.each do |post| %>
 <%= image_tag get_img_picture_image_path(post), :width => '270', :height => '320' %>
<% end %> 

<p><%= link_to "戻る", :back %></p>






