<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/top.scss" >
</head>
<h2>ログイン画面</h2>
<% if flash[:error] %>
    <p><font color="red"><%= flash[:error] %></font></p>
<% end %>


<%= form_tag top_login_path, method: :post  do  %>
    <%= label_tag :name, 'ユーザ名' %>
    <%= text_field_tag :name %>
    <%= label_tag :password, 'パスワード' %>
    <%= password_field_tag :password %>
    <%= submit_tag 'ログイン' %>
<% end %>

<p><%= link_to '戻る', :back %>
<br>
<p><%= link_to "ユーザ登録", new_user_path %></p>