<head>
  <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/top.scss">
</head>
<body>
<h2><span class="under">TOP</span></h2>

<% if current_user %>
  <p class="simple_square_btn"><%= link_to 'ログアウト', top_logout_path %></p>
  <p class="my_btn"><%= link_to 'マイページ', user_path(current_user) %></p>
  <p class="new_btn"><%= link_to '新規投稿', new_picture_path %></p>
<% else %>
  <p class="simple_square_btn"><%= link_to 'ログイン', top_login_path %></p>
<% end %>
<% if flash[:success] %>
    <p><font color="green"><%= flash[:success] %></font></p>
<% end %>
<% if flash[:out] %>
    <p><font color="blue"><%= flash[:out] %></font></p>
<% end %>
<% if flash[:post] %>
    <p><font color="green"><%= flash[:post] %></font></p>
<% end %>
<% if flash[:update] %>
    <p><font color="blue"><%= flash[:update] %></font></p>
<% end %>
<% if flash[:delete] %>
    <p><font color="red"><%= flash[:delete] %></font></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>user</th>
      <th>Title</th>
      <th>Picture</th>
      <th>Request</th>
      <% if current_user %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>
    <tbody>
    <% @pictures.each do |p| %>
      <tr>
        <td><%= link_to p.user.name, user_path(p.user.id) %></td>
        <td><%= p.title %></td>
        <td><%= image_tag get_pic_picture_path(p), :width => '200', :height => '220' %></td>
        <td><%= p.info %></td>
        <% if current_user %>
        <td>
         <%= link_to 'Show', p %>
        <% end %> 
        <% if current_user and p.user.id == current_user.id %>
         <%= link_to 'Edit', edit_picture_path(p) %>
         <%= link_to 'Destroy', picture_path(p), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
</table>

</body>