<h2>編集ページ</h2>
<%= form_for @picture, url: {action: :update} do |p| %>

<p>
  <%= p.label :title, 'タイトル' %>
  <%= p.text_field :title %>
</p>
<p>
  <%= p.label :file, '写真' %>
  <%= p.file_field :file %>
</p>
<p>
  <%= p.label :info, '説明' %>
  <%= p.text_field :info %>
</p>
<p>
  <%= p.submit '更新' %>
</p>
<% end %>

<p><%= link_to '戻る', :back %>
