<% if flash[:info] %>
<%= flash[:info] %>
<% end %>

<% if @picture.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @picture.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= link_to '新規追加', new_picture_path %>
<% @picture.each do |p| %>
<p>
  <%= p_tag "/get_pic/#{p.id}" %>
  <%= link_to '削除', picture_path(p), method: :delete, data: { confirm: '削除していいですか？' }  %>
</p>
<% end %>

<% @pictures.each do |p| %>
<p>
  <%= p_tag "/get_pic/#{p.id}" %>
</p>
<% end %>

<p><%= link_to 'ログアウト', top_logout_path %></p>