<h2>新規投稿</h2>
<%= form_for @picture, url: {action: :create} do |p| %>
<% if flash[:failed] %>
    <p><font color="red"><%= flash[:failed] %></font></p>
<% end %>

<p>
  <%= p.label :title, 'タイトル' %>
  <%= p.text_field :title %>
</p>
<p>
  <%= p.label :file, '写真' %>
  <%= p.file_field :file %>
</p>
<p>
  <%= p.label :info, '説明' %>
  <%= p.text_field :info %>
</p>
<p>
  <%= p.submit '投稿' %>
</p>
<% end %>

<p><%= link_to '戻る', :back %>
