<h2>詳細ページ</h2>
<p class="simple_square_btn"><%= link_to 'ログアウト', top_logout_path %></p>
<p class="my_btn"><%= link_to 'マイページ', user_path(current_user) %></p>
<p class="top_btn"><%= link_to 'TOP', root_path %></p>
<h3 class="pic">投稿者：<%= link_to @picture.user.name, user_path(@picture.user.id) %></h3>

<pre class="stitch" >
<p>
    <%= @picture.title %>
</p>

    <%= image_tag get_pic_picture_path(@picture), :width => '500', :height => '520' %>

<h4>
    <%= @picture.info %>
</h4>    
</pre>



<h3 class="pic">イラスト</h3>
<% @picture.images.each do |i| %>
<div class="inline-block">
  <p>
     <%= link_to User.find(i.user_id).name, user_path(i.user.id) %><br><%= image_tag get_img_picture_image_path(i), :width => '300', :height => '320' %><br><%= i.body %>
     <% if current_user and i.user.id == current_user.id %>
     <%= link_to 'delete', [i.picture, i], :confirm => 'よろしいですか？', :method => :delete %>
     <% end %>
  </p>   
</div>  
<% end %>

<%= form_for([@picture, @picture.images.build]) do |f| %>
  <%= f.file_field :img %>
  <%= f.text_area :body %>
  <%= f.submit 'イラスト投稿' %>
<% end %> 

<h3 class="pic">コメント</h3>
<% @picture.comments.each do |c| %>
  <p>
     <font color="black"><span class='c_name'><%= link_to User.find(c.user_id).name, user_path(c.user.id) %></span><span class="comment"><%= c.message %></span> 
     <% if current_user and c.user.id == current_user.id %>
     <%= link_to 'delete', [c.picture, c], :confirm => 'よろしいですか？', :method => :delete %>
     <% end %>
     </font>
  </p>      
<% end %>

<%= form_for([@picture, @picture.comments.build]) do |f| %>
  <%= f.text_area :message %>
  <%= f.submit 'コメントする' %>
<% end %>  








<%= link_to '戻る', :back %>